<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiretorioRedes" value="C:\Users\Felipe\Desktop\TestesRNs_Wagner\TestesRNs\Redes\"></add>
  </appSettings>
  <connectionStrings>
    <add name="FinanceInvest" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Felipe\Desktop\TestesRNs\TestesRNs\FinanceReduzido.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
  </connectionStrings>
</configuration>