USE [FinanceReduzido]
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCA_DADOS]    Script Date: 11/09/2012 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		WAGNER NAKAMURA
-- CREATE DATE: <CREATE DATE,,>
-- DESCRIPTION:	RETORNA OS DADOS PERTINENTES A UM PAPEL COM A COTAÇÃO DO DOLAR
-- =============================================
CREATE PROCEDURE [dbo].[SP_BUSCA_DADOS]
	@NOMEPAPEL NVARCHAR(20)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE   @SQL NVARCHAR(500)

	SET @SQL = N'	SELECT    A.ID
							, NOMERESUMIDO
							, PRECOABERTURA
							, DATAGERACAO
							, VALOR AS VALORDOLAR
							, PRECOMAX
							, PRECOMIN
							, PRECOMED
							, TOTALNEGO
							, QUANTIDADETOTALNEGO
							, VALORTOTALNEGO
					FROM ' + @NOMEPAPEL + ' A 
					JOIN COTACAODOLAR B ON A.DATAGERACAO = B.DATA' 
	EXEC SP_EXECUTESQL @SQL
	
END


GO
/****** Object:  Table [dbo].[CotacaoDolar]    Script Date: 11/09/2012 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CotacaoDolar](
	[id] [int] NOT NULL,
	[data] [smalldatetime] NULL,
	[valor] [decimal](10, 8) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PETR4]    Script Date: 11/09/2012 23:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PETR4](
	[ID] [int] NOT NULL,
	[IDCONTEUDO] [int] NULL,
	[NOMERESUMIDO] [varchar](12) NULL,
	[PRECOABERTURA] [decimal](7, 2) NULL,
	[PRECOMAX] [decimal](7, 2) NULL,
	[PRECOMIN] [decimal](7, 2) NULL,
	[PRECOMED] [decimal](7, 2) NULL,
	[TOTALNEGO] [int] NULL,
	[QUANTIDADETOTALNEGO] [int] NULL,
	[VALORTOTALNEGO] [decimal](15, 2) NULL,
	[DATAGERACAO] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CotacaoDolar] ([id], [data], [valor]) VALUES (2179, CAST(0x9FBD0000 AS SmallDateTime), CAST(1.84361604 AS Decimal(10, 8)))
INSERT [dbo].[CotacaoDolar] ([id], [data], [valor]) VALUES (2180, CAST(0x9FBE0000 AS SmallDateTime), CAST(1.86149245 AS Decimal(10, 8)))
INSERT [dbo].[CotacaoDolar] ([id], [data], [valor]) VALUES (2181, CAST(0x9FBF0000 AS SmallDateTime), CAST(1.85888022 AS Decimal(10, 8)))
GO
INSERT [dbo].[PETR4] ([ID], [IDCONTEUDO], [NOMERESUMIDO], [PRECOABERTURA], [PRECOMAX], [PRECOMIN], [PRECOMED], [TOTALNEGO], [QUANTIDADETOTALNEGO], [VALORTOTALNEGO], [DATAGERACAO]) VALUES (1, 230, N'PETROBRAS   ', CAST(36.82 AS Decimal(7, 2)), CAST(38.09 AS Decimal(7, 2)), CAST(36.73 AS Decimal(7, 2)), CAST(37.31 AS Decimal(7, 2)), 2743, 2625900, CAST(97993124.00 AS Decimal(15, 2)), CAST(0x97780000 AS SmallDateTime))
INSERT [dbo].[PETR4] ([ID], [IDCONTEUDO], [NOMERESUMIDO], [PRECOABERTURA], [PRECOMAX], [PRECOMIN], [PRECOMED], [TOTALNEGO], [QUANTIDADETOTALNEGO], [VALORTOTALNEGO], [DATAGERACAO]) VALUES (2, 939, N'PETROBRAS   ', CAST(38.32 AS Decimal(7, 2)), CAST(39.33 AS Decimal(7, 2)), CAST(38.30 AS Decimal(7, 2)), CAST(38.83 AS Decimal(7, 2)), 4613, 5655600, CAST(219658709.00 AS Decimal(15, 2)), CAST(0x97780000 AS SmallDateTime))
INSERT [dbo].[PETR4] ([ID], [IDCONTEUDO], [NOMERESUMIDO], [PRECOABERTURA], [PRECOMAX], [PRECOMIN], [PRECOMED], [TOTALNEGO], [QUANTIDADETOTALNEGO], [VALORTOTALNEGO], [DATAGERACAO]) VALUES (3, 1769, N'PETROBRAS   ', CAST(39.29 AS Decimal(7, 2)), CAST(39.59 AS Decimal(7, 2)), CAST(39.06 AS Decimal(7, 2)), CAST(39.37 AS Decimal(7, 2)), 3662, 4539900, CAST(178760217.00 AS Decimal(15, 2)), CAST(0x97780000 AS SmallDateTime))
GO
