<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CotacoesBDEntities" connectionString="metadata=res://*/Model.CotacoesEF.csdl|res://*/Model.CotacoesEF.ssdl|res://*/Model.CotacoesEF.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\CotacoesBD.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>