<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="DiretorioRedes_v5" value="C:\Users\felipe.almeida1\Desktop\TCC\Redes\NDNs\09_09_2012_Redes\"></add>-->
    <add key="DiretorioRedes_v5" value="C:\Users\Felipe\Desktop\TCC\Redes\NDNs\24_09_2012_Redes\"></add>
  </appSettings>
  <connectionStrings>
    <!--<add name="FinanceInvest" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\felipe.almeida1\Desktop\TCC\FinanceReduzido.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />-->
    <add name="FinanceInvest" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Felipe\Desktop\TCC\FinanceReduzido.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
